
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    
}
body {
	background: linear-gradient(-95deg, #00417e, rgb(0, 115, 255));
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
  25% {
		background-position: 50% 25%;
	}
	50% {
		background-position: 100% 50%;
	}
  75% {
		background-position: 25% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container{
    width: 100%;
    height: 100vh;
   
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.SMText{
  font-size: 30px;
  cursor: pointer;
}
.SMText:hover{
  font-size: 31px;
  transition: 1s ease-in-out;
  color: #000;
}
.logo{
    width: 400px;

    cursor: inherit;
}

.logotext{
  font-size: 30px;
  margin-left: 20px;
  font-family: 'Courier New', Courier, monospace;
}
.descriptiontext{
  font-family: 'Courier New', Courier, monospace;
padding: 20px;
padding-top: 50px;
}
.menu-icon{
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
    font-family: 'Roboto Mono', monospace;

}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    font-family: 'Roboto Mono', monospace;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;

}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    
}
.col{
    flex-basis: 50%;
    
}
h1{
  font-family: 'Courier New', Courier, monospace;
    background: #CA4246;
  background-color: #CA4246;
  background: conic-gradient(
    #CA4246 16.666%, 
    #E16541 16.666%, 
    #E16541 33.333%, 
    #F18F43 33.333%, 
    #F18F43 50%, 
    #8B9862 50%, 
    #8B9862 66.666%, 
    #f9fbff 66.666%, 
    #ffffff 83.333%, 
    #A7489B 83.333%);
  
  background-size: 57%;
  background-repeat: repeat;
  
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  animation: rainbow-text-animation-rev 3s ease-in infinite;

  cursor: pointer;
  font-size: 80px;
}
h1:hover{
    animation: h1 1s ease-out forwards infinite ;

}

.iam{
  color: white;
    font-size: 30px;
    font-family: sans-serif;
}
.text{
  color: white;
    border-right: 2px solid red;
    font-size: 30px;
    font-family: sans-serif;
    color: rgb(255, 30, 0);
    caret-color: red;
}
@keyframes h1 {
    0% {
      background-size: 57%;
      background-position: 0 0;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 300%;
      background-position: -9em 1em;
    }
  }
  
  
  @keyframes rainbow-text-animation-rev {
    0% {
      background-size: 300%;
      background-position: -9em 1em;
    }
    20% {
      background-size: 57%;
      background-position: 0 1em;
    }
    100% {
      background-size: 57%;
      background-position: 0 0;
    }
  }
  
p{
    color: #fff;
    font-size: 20px;-webkit-line-break: 20px;
    line-height: 15px;
}
button{
  background-color: #ffffff;
 
  
  padding: 15px 32px;
  text-align: center;

  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;

  border-width: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
button:hover {
  box-shadow: 0px 5px 5px 5px rgba(255, 255, 255, 0.493),5px 5px ;
  background-color: black;
  color: #fff;
  border-radius: 30px;
  transition: 0.9s;
}
  

  
  .card {
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    text-decoration: white;
    color: rgb(221, 221, 221);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    font-size: 20px;
    
    text-shadow: 0 0 5px rgb(16, 207, 25);
}
.card1{
    background-image: url(Rectangle\ 5.png);
    
  
}
.card2{
    background-image: url(Rectangle\ 6.png);
  
}
.card:hover{
    transform: translateY(-50px);
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media(min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
